<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: myheader">
</head>
<body>
<div th:insert="fragments/navigation :: nav"></div>
<div class="container-fluid">
    <div class="row mt-5">
        <div th:insert="fragments/sidebarmenu :: #sidebarMenu"></div>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4" role="main">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Persons</h1>
            </div>

            <form action="#" enctype="multipart/form-data" method="post"
                  th:action="@{/security/update/{id}(id=${person.id})}" th:object="${person}">
                <div class="form-group   col-sm-12 col-md-3">
                    <label for="firstName">firstName</label>
                    <input class="form-control" id="firstName" placeholder="firstName" th:field="*{firstName}"
                           type="text">
                    <span th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}"></span>
                </div>
                <div class="form-group   col-sm-12 col-md-3">
                    <label for="lastName">lastName</label>
                    <input class="form-control" id="lastName" placeholder="lastName" th:field="*{lastName}" type="text">
                    <span th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}"></span>
                </div>
                <div class="form-group   col-sm-12 col-md-3">
                    <label for="email">Email</label>
                    <input class="form-control" id="email" placeholder="Email" th:field="*{user.email}" type="text">
                    <span th:errors="*{user.email}" th:if="${#fields.hasErrors('user.email')}"></span>
                </div>
                <div class="form-group  col-sm-12 col-md-3">
                    <label for="userName">userName</label>
                    <input class="form-control" id="userName" placeholder="userName" th:field="*{user.userName}"
                           type="text">
                    <span th:errors="*{user.userName}" th:if="${#fields.hasErrors('user.userName')}"></span>
                </div>
                <div class="form-group  col-sm-12 col-md-3">
                    <label for="id">password</label>
                    <input class="form-control" id="id" placeholder="password" th:field="*{user.id}" type="text">
                    <span th:errors="*{user.id}" th:if="${#fields.hasErrors('user.id')}"></span>
                </div>
                <div class="form-group  col-sm-12 col-md-3">
                    <label for="userpassword">password</label>
                    <input class="form-control" id="userpassword" placeholder="password" th:field="*{user.userpassword}"
                           type="password">
                    <span th:errors="*{user.userpassword}" th:if="${#fields.hasErrors('user.userpassword')}"></span>
                </div>
                <div class="form-group  col-sm-12 col-md-3">
                    <label for="roles">roles</label>
                    <hr>
                    <span class="col-sm-12 col-md-3" id="roles" th:each="role : ${roles}">
                            <input name="roles" th:field="*{user.roles}" th:value="${role.id}" type="checkbox"/>
                            <label th:text="${role.role}"></label>
                            <span th:errors="*{user.roles}" th:if="${#fields.hasErrors('user.roles')}"></span>

                        </span>

                </div>

                <div class="form-group  col-sm-12 col-md-3">
                    <label for="active">Active</label>
                    <input checked="true" class="form-control" id="active" th:field="*{user.active}" type="checkbox">
                    <span th:errors="*{user.active}" th:if="${#fields.hasErrors('user.active')}"></span>
                </div>
                <input class="form-control" id="createdate" th:field="*{user.createDate}" type="hidden">
                <span th:errors="*{user.createDate}" th:if="${#fields.hasErrors('user.createDate')}"></span>
                <input class="btn btn-primary" type="submit" value="Update User">
            </form>
        </main>
    </div>
</div>
<div th:insert="fragments/footer :: foot"></div>
</body>
</html>