<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<head th:fragment="myheader">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="FaYssal BenMoussa" name="author">
    <title>Hello</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/animation.css}" type="text/css"/>
    <link href="/css/dashboard.css" rel="stylesheet" th:href="@{/css/dashboard.css}" type="text/css"/>
    <link href="/css/style.css" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    </style>
</head>
</body>
</html>